---
layout: archive
title: "Dark matter limits"
permalink: /DM_limits/
author_profile: true
---

The purpose of this website is to collate astrophysical (and other) limits on dark matter.<br/>This means I need your help! Please let me know if a limit is missing or needs adjusting.<br/>You are encouraged to use/modify these plots. Please cite Zenodo link (to follow) if you do.<br/>Disclaimer: bear in mind that different limits/projections often have different uncertainties and levels of statistical rigour.

{% include base_path %}


{% for post in site.DM_limits %}
  {% include archive-single.html %}
{% endfor %}

Thanks to: Mona Dentler, Alex Drlica-Wagner, Cora Dvorkin, Gerrit Farren, Daniel Grin, Renee Hlozek, Alex Lague, Zack Li, Doddy Marsh, Ethan Nadler, Hiranya Peiris, Chen Sun and Linda Xu for their essential input and assistance!

